

@model List<Lab13.Models.Persona>
    @{
        ViewBag.Title = "Listar";

        var grid = new WebGrid(source: Model, columnNames: new[]{
            "PersonaID", "Nombre", "Apellido", "FechaNac", "Direccion", "Email"    
        });
    }

    <p>
        @using (Html.BeginForm("Listar", "Persona", FormMethod.Get))
        {
            <b>Buscar por: </b>
            @Html.RadioButton("searchBy", "Nombre", true) <text>Nombre</text>
            @Html.RadioButton("searchBy", "Apellido") <text>Apellido</text>
            <br />
            @Html.TextBox("search") <input type="submit" value="Search" />
        }
    </p>

    <h2>Listado de Personas</h2>
    @grid.GetHtml(tableStyle: "table table-strisped",
            columns: grid.Columns(
                grid.Column(columnName: "PersonaID", header: "PersonaID"),
                grid.Column(columnName: "Nombre", header: "Nombre"),
                grid.Column(columnName: "Apellido", header: "Apellido"),
                grid.Column(columnName: "FechaNac", header: "FechaNac"),
                grid.Column(columnName: "Direccion", header: "Dirección"),
                grid.Column(columnName: "Email", header: "Email"),
                grid.Column(header: "Acciones", format:(item)=>
                                                Html.ActionLink("Ver", "Mostrar", "Persona",
                                                new { id = item.PersonaID }, null))

                )
            )